### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Show DataFrame

purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

In [3]:
#Calculate Total number

Total_Players = purchase_data["SN"].unique()
TotalUniquePlayers = len(Total_Players)
df_TotalUniquePlayers = pd.DataFrame([TotalUniquePlayers], columns = ["Total Players"])
df_TotalUniquePlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Calculate Unique Item

Unique_Items = len(purchase_data["Item Name"].unique())
Unique_Items

179

In [5]:
#Calculate average

Average_price = purchase_data["Price"].mean()
Average_price

3.050987179487176

In [6]:
#Calculate sum of Purchase itmes

Sum_of_Purchase = purchase_data["Price"].sum()
Sum_of_Purchase

2379.77

In [7]:
#Calculate total of Purchase itmes

total_Purchase = len(purchase_data["Price"])
total_Purchase

780

In [8]:
#DataFrame

pd.DataFrame({"Numbers of Items": [Unique_Items],
             "Average Price":[Average_price],
             "Sum of purchase Item":[Sum_of_Purchase],
             "Total purchase item":[total_Purchase]
             })

   Numbers of Items  Average Price  Sum of purchase Item  Total purchase item
0               179       3.050987               2379.77                  780

In [9]:
#Praticing - If I want to Sum the DataFrame

# pd.DataFrame({"Numbers of Items": [Unique_Items],
#              "Average Price":[Average_price],
#              "Sum of purchase Item":[Sum_of_Purchase],
#              "Total purchase item":[total_Purchase]
#              }).sum(axis=1)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
Gender_demographics = purchase_data["Gender"].value_counts()
Gender_demographics

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [76]:
users_df = purchase_data.drop_duplicates(["SN"])
Gender = users_df["Gender"].value_counts()
Gender

# Option2
Gender2 = users_df.groupby(["Gender"])["Item Name"].count()
Gender2

Porcentage = Gender2/TotalUniquePlayers

#next step pout this 2 in a dataFrame

pd.DataFrame({"Total Gender": Gender2,
             "Porcentage Gender": Porcentage,
             })

                       Total Gender  Porcentage Gender
Gender
Female                           81           0.140625
Male                            484           0.840278
Other / Non-Disclosed            11           0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [95]:
Average_price = purchase_data.groupby(["Gender"])["Price"].mean()

Purchase_sum = purchase_data.groupby(["Gender"])["Price"].sum()

Purchase_number = purchase_data.groupby(["Gender"])["Price"].count()

total_purchase_person = Sum_of_Purchase/Gender2

pd.DataFrame({"Average purchase": Average_price,
             "Total purchase": Sum_of_Purchase,
            "Purchase count":Purchase_number,
              "Total purchase person":total_purchase_person,
             })

,Average purchase,Total purchase,Purchase count,Total purchase person
Gender,,,,
Female,3.203009,361.94,113,4.468395
Male,3.017853,1967.64,652,4.065372
Other / Non-Disclosed,3.346000,50.19,15,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [160]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

users_df["Total Count"] = pd.cut(users_df["Age"], bins, labels=bin_labels)
Age_count = users_df.groupby("Total Count")["SN"].count()

Age_porcentage = Age_count/TotalUniquePlayers *100
Age_porcentage

# create a summary data frame to hold the results

pd.DataFrame({"percentages by age": Age_porcentage,
             "Total purchase": Age_count,
             })

<ipython-input-160-b339878212c1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users_df["Total Count"] = pd.cut(users_df["Age"], bins, labels=bin_labels)

             percentages by age  Total purchase
Total Count
<10                    2.951389              17
10-14                  3.819444              22
15-19                 18.576389             107
20-24                 44.791667             258
25-29                 13.368056              77
30-34                  9.027778              52
35-39                  5.381944              31
40+                    2.083333              12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [174]:
purchase_data["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)
Count = purchase_data.groupby("Total Count")["SN"].count()

Age_average = purchase_data.groupby(["Total Count"])["Age"].mean() #Obtain average price

Age_total_purchase = purchase_data.groupby(["Total Count"])["Age"].sum()

Age_porcentage = Total_purchase/TotalUniquePlayers

pd.DataFrame({"Purchase count":Count,
             "Average Purchase price":Age_average,
              "Total purchase per person":Age_total_purchase,
              "Average per person":Age_porcentage,
             })

,Purchase count,Average Purchase price,Total purchase per person,Average per person
Total Count,,,,
<10,23,7.869565,181,0.314236
10-14,28,11.392857,319,0.553819
15-19,136,16.794118,2284,3.965278
20-24,365,21.838356,7971,13.838542
25-29,101,26.000000,2626,4.559028
30-34,73,31.383562,2291,3.977431
35-39,41,36.707317,1505,2.612847
40+,13,41.538462,540,0.937500

## Top Spenders

In [107]:
#Calculations

user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Total Purchase Value": user_total,
                          "Average Purchase Price": user_average,
                          "Purchase Count": user_count})

# formatting

user_data = user_data.round(2)


# Put in a Data Frame
user_data.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                    3.79               5
Idastidru52                 15.45                    3.86               4
Chamjask73                  13.83                    4.61               3
Iral74                      13.62                    3.40               4
Iskadarya95                 13.10                    4.37               3

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [195]:
Item_ID = purchase_data[["Item ID","Item Name","Price"]].groupby(["Item ID","Item Name"])
Grouped_purchase_count = Item_ID["Price"].count() # Count the number of item price per purchase

Grouped_total_purchase = Item_ID["Price"].sum() # Purchase value per item 

item_price = Grouped_total_purchase/Grouped_purchase_count
item_price

most_popular_items = pd.DataFrame({"Total count": Grouped_purchase_count,
            "Total purchase value": Grouped_total_purchase,             
            "item price": item_price,
            })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [200]:
popular_item = most_popular_items.sort_values(["Total count"], ascending=False).head()

popular_item.style.format({"Item Price":"${:,.2f}","Total count":"${:,.2f}"})